<option value="{{ widget.value|stringformat:'s' }}" {% include "django/forms/widgets/attrs.html" %}
        {% if widget.label == "高" %}
        data-content="<span class='badge badge-danger'>高</span>"
        {# 或者加图标 data-content="<i class='fa fa-circle text-danger'></i>高"#}

        {% elif widget.label == "中" %}
        data-content="<span class='badge badge-warning'>中</span>"
        {% else %}
        data-content="<span class='badge badge-success'>低</span>"
        {% endif %} ></option>



{#<option value="{{ widget.value|stringformat:'s' }}"{% include "django/forms/widgets/attrs.html" %}>{{ widget.label }}</option>#}
